<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/portal/img/apple-icon.png}">
  <link rel="icon" type="image/png" th:href="@{/portal/img/favicon.png}">
  <title>Авторизация</title>
  <link th:href="@{/portal/css/nucleo-icons.css}" rel="stylesheet"/>
  <link th:href="@{/portal/css/nucleo-svg.css}" rel="stylesheet"/>
  <link th:href="@{/portal/css/soft-ui-dashboard.css}" id="pagestyle" rel="stylesheet"/>
</head>

<body class="g-sidenav-show  bg-gray-100">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
       aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0 d-flex align-content-center" href="/home">
      <img src="/portal/img/Logo_SFR.png" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-2 font-weight-bold text-2xl">СФР</span>
    </a>
  </div>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

</main>
<script src="/portal/js/core/popper.min.js"></script>
<script src="/portal/js/core/bootstrap.min.js"></script>
<script src="/portal/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/portal/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/portal/js/plugins/chartjs.min.js"></script>
<script src="/portal/js/soft-ui-dashboard.js"></script>
</body>

</html>